@media only screen and (max-width: 1280px) {
  header .container {
    padding: 14px 0;
  }
  header .navbar a {
    padding: 5px 0;
    margin: 0px 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  h1 {
    font-size: 90px;
  }
  h2 {
    font-size: 63px;
    line-height: 76px;
  }
  img {
    width: 100%;
  }
  header .container {
    width: 100%;
    padding: 20px 20px;
    position: relative;
  }
  header .main #menu-icon {
    display: block;
    color: #232323;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 270px;
    /* height: 29vh; */
    background-color: #cccccc;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: 0.4s;
    display: none;
  }
  header .navbar a {
    display: block;
    margin: 12px 0;
    padding: 0px 25px;
    transition: 0.4s;
  }
  header .navbar.open {
    right: 2%;
    display: block;
  }
  /* newsletter_part css start */
  .newsletter_center img {
    width: 80px;
    height: 80px;
  }
  /* blog_part css start */
  #blog_part .blog_right_img {
    margin-bottom: 30px;
  }
  #blog_part .blog_right_content_right p {
    margin-bottom: 10px;
    font-size: 15px;
  }
  /* choosen_part css start */
  #choosen_part h4 {
    padding-bottom: 0px;
  }
  #choosen_part .choosen_part_item {
    margin-top: 50px;
  }
  /* review _part css start */
  #review_part .owl-prev {
    left: -20px;
  }
  #review_part .owl-next {
    right: -20px;
  }
  /* contact_part css start */
  #contact_part .contact_left {
    width: 40%;
    padding-right: 5%;
  }
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 75px;
    line-height: 86px;
  }
  h2 {
    font-size: 46px;
    line-height: 56px;
  }
  h5 {
    font-size: 32px;
  }
  h4 {
    font-size: 40px;
  }
  /* blog_part css start */
  #blog_part .blog_right_content_left h5 {
    line-height: 31px;
    font-size: 22px;
  }
  /* choosen_part css start */
  #choosen_part .choosen_part_item {
    margin-top: 40px;
  }
  /* review_part css start */
  #review_part .single_customer_item {
    padding: 30px;
  }
}
@media only screen and (max-width: 640px) {
  h2 {
    font-size: 43px;
    line-height: 48px;
  }
  .section_padding {
    padding: 100px 0;
  }
  .theam_btn {
    font-size: 18px;
    padding: 10px 40px;
  }
  header .navbar {
    width: 220px;
  }
  header .logo img {
    width: 140px;
  }
  /* hero_part css start */
  #hero_part .hero_left,
  #hero_part .hero_right {
    width: 50%;
  }
  /* travel_part css start */
  #travel_blog .single_blog_item h5 {
    margin-bottom: 20px;
    font-size: 28px;
  }
  /* contact_part css start */
  #contact_part h2 {
    margin-bottom: 20px;
    font-size: 38px;
  }
  #contact_part .contact_left {
    padding-right: 0%;
  }
  #footer_part .link a {
    font-size: 14px;
  }
}
@media only screen and (max-width: 475px) {
  h1 {
    font-size: 40.7px;
    line-height: 43px;
  }
  h2 {
    font-size: 40px;
    line-height: 41px;
  }
  h3 {
    font-size: 36.46px;
    line-height: 36px;
  }
  h4 {
    font-size: 32.44px;
  }
  h5 {
    font-size: 26px;
    line-height: 26px;
  }
  img {
    width: 100%;
    vertical-align: center;
  }
  .container {
    width: 100%;
    flex-wrap: wrap;
    padding: 0px 15px;
  }
  .section_padding {
    padding: 70px 0;
  }
  .theam_btn {
    font-size: 16px;
    padding: 10px 30px;
    display: inline-block;
  }
  /* header_part css start */
  #header_part .container {
    gap: 0;
  }
  header .logo img {
    width: 110px;
  }
  #navbar-toggle {
    top: 25px;
  }

  #header_part .brand {
    width: 110px;
  }
  #header_part .menu li {
    display: block;
    margin: 20px 0;
  }
  #header_part .menu li a {
    margin-left: 10px;
    font-size: 13.83px;
    font-weight: 400;
  }

  #header_part .menu a:hover {
    font-weight: 500;
  }

  /* hero_part css start */
  #hero_part {
    padding: 100px 0px 120px;
  }
  #hero_part .hero_left {
    width: 100%;
  }
  #hero_part .hero_left h2 {
    margin-bottom: 15px;
  }
  #hero_part .hero_right {
    width: 100%;
  }
  .hero_right img {
    width: 100%;
    margin-top: 20px;
  }
  /* memory_part css start */
  #memory_part .memory_center h3 {
    margin-bottom: 20px;
  }
  /* travel_blog_part css start */
  #travel_blog .single_blog_item {
    width: 100%;
    margin-top: 35px;
  }
  #travel_blog .single_blog_item h5 {
    width: 100%;
    margin-bottom: 15px;
  }
  #travel_blog .single_blog_item img {
    margin-bottom: 40px;
  }
  #travel_blog .single_blog_item h5::before {
    top: -20px;
  }
  /* newsletter_part css start */
  .newsletter_center img {
    width: 60px;
  }
  /* blog_part css start */
  #blog_part .blog_left,
  #blog_part .blog_right {
    width: 100%;
  }
  .blog_right_content {
    flex-wrap: wrap;
  }
  .blog_right_content_left h5 {
    line-height: 30px;
  }
  /* choosen_part css start */
  #choosen_part .choosen_part_left,
  #choosen_part .choosen_part_right {
    width: 100%;
  }
  #choosen_part h4 {
    padding-bottom: 0px;
  }
  #choosen_part .choosen_part_item {
    margin-top: 35px;
  }
  #choosen_part .choosen_part_item h6 {
    margin-bottom: 10px;
  }
  .choosen_part_right img {
    margin-top: 35px;
  }
  /* review_part css start */
  #review_part .single_customer_item {
    width: 100%;
    padding: 30px 35px;
  }
  #review_part .single_customer_item img {
    width: 80px;
    margin-bottom: 10px;
  }
  .owl-next {
    right: -18px;
  }
  .owl-prev {
    left: -18px;
  }
  .owl-next,
  .owl-prev {
    width: 50px;
    height: 50px;
  }
  /* contact_part css start */
  #contact_part h3 {
    margin-bottom: 35px;
  }
  #contact_part .contact_left {
    width: 100%;
    padding-right: 0%;
  }
  #contact_part .contact_right {
    width: 100%;
    margin-top: 35px;
  }
  /* footer_part css start */
  #footer_part .footer_right {
    width: 100%;
  }
  #footer_part .footer_right .links {
    margin-top: 0px;
    flex-wrap: wrap;
  }
  #footer_part .footer_right .links .link {
    width: 50%;
  }
}
@media only screen and (max-width: 360px) {
  #header_part .main .theam_btn {
    font-size: 14px;
    padding: 7px 15px !important;
    display: inline-block;
  }
  header .main a {
    margin-left: 0px;
    margin-right: 10px;
  }
}
